In [ ]:
## load library, dplyr

In [ ]:
library(dplyr)

In [ ]:
## Read babynames.rds

In [ ]:
babynames <- readRDS('babynames.rds')

1. Filter for only the year 1990.
Sort the table in descending order of the number of babies born.

In [ ]:
babynames %>%
  # Filter for the year 1990
  
  # Sort the number column in descending order

2. Use group_by and top_n to find the most common name for US babies in each year.

In [ ]:
# Find the most common name in each year
babynames %>%

3. Filter for only the names Steven, Thomas, and Matthew, and assign it to an object called selected_names

In [ ]:
# Hint: The %in% operator can be used within filter() by including c() and a vector of values.

In [ ]:
# Filter for the names Steven, Thomas, and Matthew 
selected_names <- babynames %>%

4. Visualize those three names as a line plot over time, with each name represented by a different color.

In [ ]:
# Plot the names using a different color for each name

5. First, calculate the total number of people born in that year in this dataset as year_total.
Next, use year_total to calculate the fraction of people born in each year that have each name.
Pay attention to use of ungroup()

In [ ]:
# Calculate the fraction of people born each year with the same name
babynames %>%

6. Now use your newly calculated fraction column, in combination with top_n(),   
to identify the year each name is most common

In [ ]:
# Calculate the fraction of people born each year with the same name
# Repeate the above
babynames %>%



# Find the year each name is most common

7. Use a grouped mutate to add two columns:
- name_total, with the total number of babies born with that name in the entire dataset.
- name_max, with the highest number of babies born in any year.
- Add another step to ungroup the table.
- Add a column called fraction_max, with the number in the year divided by the maximum for that name.

In [ ]:
babynames %>%



  # Ungroup the table 
  
  # Add the fraction_max column containing the number by the name maximum

names_normalized <- babynames %>%
                     group_by(name) %>%
                     mutate(name_total = sum(number),
                            name_max = max(number)) %>%
                     ungroup() %>%
                     mutate(fraction_max = number / name_max)

8. Filter the names_normalized table to limit it to the three names Steven, Thomas, and Matthew.
Visualize fraction_max for those names over time.

In [ ]:
# Filter for the names Steven, Thomas, and Matthew
names_filtered <- names_normalized %>%
  

# Visualize these names over time

9. Arrange the data in ascending order of name and then year.  
Group by name so that your mutate works within each name.  
Add a column ratio containing the ratio (not difference) between each year.

In [ ]:
babynames_fraction %>%
  # Arrange the data in order of name, then year 
  
  # Group the data by name
  
  # Add a ratio column that contains the ratio between each year

In [ ]:
babynames_ratios_filtered <- babynames_fraction %>%
                     arrange(name, year) %>%
                     group_by(name) %>%
                     mutate(ratio = fraction / lag(fraction)) %>%
                     filter(fraction >= 0.00001)

10. From each name in the data, keep the observation (the year) with the largest ratio; note the data is already grouped by name.
Sort the ratio column in descending order.
Filter the babynames_ratios_filtered data further by filtering the fraction column to only display results greater than or equal to 0.001.

In [ ]:
## Hint: use lag() to calculate the difference, e.g., fraction - lag(fraction)
## The ratio column will also be calculated using lag(fraction).
## Recall, the difference in the frequency of a baby name between consecutive years was calculated 
## as fraction - lag(fraction).
## However, remember that in this exercise you are calculating the ratio, so another operator will be required.

In [ ]:
babynames_ratios_filtered %>%
  # Extract the largest ratio from each name 
  
  # Sort the ratio column in descending order 
  
  # Filter for fractions greater than or equal to 0.001